Appium-Python-Client==0.24
mock==2.0.0
pbr==1.10.0
py==1.4.31
pytest==3.0.3
python-gflags==3.0.7
selenium==2.53.6
six==1.10.0
sure==1.4.0
typing==3.5.2.2
wheel==0.24.0
pyyaml==3.12
requests==2.12.2
docker-compose == 1.9.0